<html>
<center>
   <h1> {{ ansible_hostname }} was deployed as webserver successfully.</h1>
   <h3> It is running on {{ ansible_os_family}}system </h3>
   </br>
   <h4>Ansible has done its job</h4>
   <h>Welcome to Atos , Shanmukha </h>
</center>
</html>
